@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = "@ViewBag.TaskId";// $.request("keyValue");

    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/VisitManage/Visit/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                }
            });
        }
    });
    function initControl() {

        var taskId = $.request("taskId");
        $('#F_TaskId').val(taskId);
        $("#F_Qu1").bindSelect();
        $("#F_Qu2").bindSelect();
        $("#F_Qu3").bindSelect();
        $("#F_Qu4").bindSelect();
        $("#F_Qu5").bindSelect();
        $("#F_Qu6").bindSelect();
        $("#F_Qu7").bindSelect();
        $("#F_Qu8").bindSelect();
        $("#F_Qu9").bindSelect();
        $("#F_Qu10").bindSelect();
    }
    function btn_print() {
        $("#print").jqprint();
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/VisitManage/Visit/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">中国民生银行特约商户巡检登记表</a></li>
            @*<li ><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="position: absolute; top: 22px; right: 8px;">
            <a class="btn btn-default " target="_blank" href="@Url.Action("CMBCPrint",new {id=ViewBag.TaskId})"><i class="fa fa-print" style="margin-right: 5px; font-size: 13px;"></i>直接打印</a>
        </div>
        <div style="padding-top: 20px; margin-right: 30px;" id="print">
            <table class="form">
                <tr>
                    <th class="formTitle">商户编码</th>
                    <td class="formValue">
                        <input id="F_TaskId" name="F_TaskId" type="hidden" placeholder="特约商户代码" />
                        <input id="F_Code" name="F_Code" type="text" class="form-control required" placeholder="商户编码" />
                    </td>
                    <th class="formTitle">客户名称</th>
                    <td class="formValue">
                        <input id="F_Name" name="F_Name" type="text" class="form-control required" placeholder="客户名称" />
                    </td>

                </tr>
                <tr>
                    <th class="formTitle">商户地址</th>
                    <td class="formValue">
                        <input id="F_Address" name="F_Address" type="text" class="form-control required" placeholder="商户地址" />
                    </td>
                    <th class="formTitle">终端数量</th>
                    <td class="formValue">
                        <input id="F_Count" name="F_Count" type="text" class="form-control required" placeholder="终端数量" />
                    </td>
                </tr>

                <tr>
                    <th class="formTitle">机具数量</th>
                    <td class="formValue">
                        <input id="F_Machine_Count" name="F_Machine_Count" type="text" class="form-control required" placeholder="机具数量" />
                    </td>

                </tr>


            </table>
            <hr />
            <fieldset>
                <legend>巡查内容（以下项目在现场巡查时需逐一核实）</legend>
                <table class="form">
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px; width: auto">
                            1.乐收银机具的数量与原登记是否相符？
                        </th>
                        <td class="formValue">
                            <select id="F_Qu1" name="F_Qu1" class="form-control required">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px; width: auto">
                            2.乐收银机具是否完整？
                        </th>
                        <td class="formValue">
                            <select id="F_Qu2" name="F_Qu2" class="form-control required">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px; width: auto">
                            3.乐收银机具是否违规使用？（商户擅自改变摆放位置或加装其他违规设备等）
                        </th>
                        <td class="formValue">
                            <select id="F_Qu3" name="F_Qu3" class="form-control required">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px; width: auto">
                            4.乐收银机具是否处于正常工作状态？（在机具上进行检测并保留检测单据）
                        </th>
                        <td class="formValue">
                            <select id="F_Qu4" name="F_Qu4" class="form-control required">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px; width: auto">
                            5.商户实际经营业务内容是否与营业执照登记的内容一致？
                        </th>
                        <td class="formValue">
                            <select id="F_Qu5" name="F_Qu5" class="form-control required">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px; width: auto">
                            6.商户所有权、负责人是否变动？
                        </th>
                        <td class="formValue">
                            <select id="F_Qu6" name="F_Qu6" class="form-control required">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px; width: auto">
                            7.商户销售方式、产品、业务活动是否变化？
                        </th>
                        <td class="formValue">
                            <select id="F_Qu7" name="F_Qu7" class="form-control required">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px; width: auto">
                            8.商户交易单据凭证的保管是否符合规定？
                        </th>
                        <td class="formValue">
                            <select id="F_Qu8" name="F_Qu8" class="form-control required">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px; width: auto">
                            9.商户经营状况是否存在经营危机或财务危机迹象？
                        </th>
                        <td class="formValue">
                            <select id="F_Qu9" name="F_Qu9" class="form-control required">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle" valign="top" style="padding-top: 5px; width: auto">
                            10.商户收银员是否经过培训后上岗？
                        </th>
                        <td class="formValue">
                            <select id="F_Qu10" name="F_Qu10" class="form-control required">
                                <option value="true">是</option>
                                <option value="false">否</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </fieldset>
          

        </div>
    </div>
</form>
