@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
        initControl();
    })

    function initControl() {
        $("#F_ScheduleState").bindSelect({
            url: '/SystemManage/ItemsData/GetSelectIdNameJson',
            param: { enCode: "ScheduleState" },
            id: "id",
            text: "text"
        });


        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson"
        });
    }
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/StatisticsManage/Statistics/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                //{ label: '所属银行', name: 'F_Bank', width: 80, align: 'left' },
                           //{
                           //    label: '所属银行', name: 'F_Bank', width: 80, align: 'left',
                           //    formatter: function (cellvalue, options, rowObject) {
                           //        return top.clients.dataItems["Bank"][cellvalue] == null ? "" : top.clients.dataItems["Bank"][cellvalue];
                           //    }
                           //},
                           //  {
                           //      label: '所属区域', name: 'F_Area', width: 80, align: 'left',
                           //      formatter: function (cellvalue, options, rowObject) {
                           //          return top.clients.area[cellvalue] == null ? "" : top.clients.area[cellvalue];
                           //      }
                           //  },
              //  { label: '所属区域', name: 'F_Area', width: 80, align: 'left' },
                { label: '员工姓名', name: 'name', width: 80, align: 'center' },
                 { label: '员工电话', name: 'tel', width: 80, align: 'center' },
                  { label: '完成情况', name: 'count', width: 80, align: 'center' },

                    //{
                    //    label: '员工姓名', name: 'F_UserId', width: 80, align: 'left',
                    //    formatter: function (cellvalue, options, rowObject) {
                    //        return top.clients.user[cellvalue] == null ? "" : top.clients.user[cellvalue];
                    //    }
                    //},

                    //      {
                    //          label: '创建人', name: 'F_CreatorUserId', width: 80, align: 'left',
                    //          formatter: function (cellvalue, options, rowObject) {
                    //              return top.clients.user[cellvalue] == null ? "" : top.clients.user[cellvalue];
                    //          }
                    //      },
                    //           {
                    //               label: '创建时间', name: 'F_CreatorTime', width: 80, align: 'left',
                    //               formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                    //           },
                               {
                                   label: "进度状态", name: "schedule", width: 80, align: "left",
                                   formatter: function (cellvalue, options, rowObject) {
                                       return top.clients.dataItems["ScheduleState"][cellvalue] == null ? "" : top.clients.dataItems["ScheduleState"][cellvalue];
                                   }
                               },

            ],
            pager: "#gridPager",
            sortname: 'F_Id asc,F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), schedule: $('#F_ScheduleState option:selected').val(), startdt: $('#F_StartDT').val(), enddt: $('#F_EndDT').val() },
            }).trigger('reloadGrid');
        });
    }
</script>
<div class="topPanel">
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <select id="F_ScheduleState" id="F_ScheduleState" class="form-control" style="width: 200px;">
                            <option value="">==请选择==</option>
                        </select>
                        @*<input id="txt_keyword" type="text" class="form-control" placeholder="账户/姓名/手机" style="width: 200px;">*@
                        <input id="F_StartDT" name="F_StartDT" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" style="width: 200px;" placeholder="请输入开始时间" />
                        <input id="F_EndDT" name="F_EndDT" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" style="width: 200px;" placeholder="请输入结束时间" />
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
