@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/jqprint/jquery.jqprint-0.3.js"></script>
<link media="print" href="~/Content/js/jqprint/jquery.jqprint.css" rel="stylesheet" />
<script>
    $(function () {
        top.$(".content-iframe").css("background-color", "#f9f9f9");
    })
    function btn_print() {
        $("#print").jqprint();
    }
</script>
<div style="position: absolute; top: 22px; right: 8px;">
    <a class="btn btn-default " onclick="btn_print()"><i class="fa fa-print" style="margin-right: 5px; font-size: 13px;"></i>直接打印</a>
</div>
<div class="price-box">
    <div id="print">
        <p class="cjk" align="center" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
      <font face="仿宋"><font size="4" style="font-size: 15pt"><b>中国光大银行特约商户巡检登记表</b></font></font></p>
<center>
	<table width="668" cellpadding="7" cellspacing="0">
		<col width="73">
		<col width="283">
		<col width="269">
		<tbody>
			<tr>
				<td colspan="2" width="369" height="22" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #000001; padding: 0cm 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">商户名称：</font></font></p>
				</td>
				<td width="269" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">商户编码：</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="369" height="27" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #000001; padding: 0cm 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">商户地址：
					                       </font></font>
					</p>
				</td>
				<td width="269" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #00000a; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">终端数量：</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="73" height="27" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #00000a; padding: 0cm 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋"><b>序号</b></font></font></p>
				</td>
				<td colspan="2" width="565" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋"><b>巡查内容（以下项目在现场巡查时需逐一核实）</b></font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="73" height="27" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #00000a; padding: 0cm 0.19cm">
					<p class="cjk" align="center" style="orphans: 2; widows: 2"><font face="Calibri, serif"><span lang="en-US"><font color="#000000"><font face="仿宋, serif">1</font></font></span></font></p>
				</td>
				<td colspan="2" width="565" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">支付易机具的数量与原登记是否相符？
					   是□   否□（机具数量：     ）</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="73" height="27" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #00000a; padding: 0cm 0.19cm">
					<p class="cjk" align="center" style="orphans: 2; widows: 2"><font face="Calibri, serif"><span lang="en-US"><font color="#000000"><font face="仿宋, serif">2</font></font></span></font></p>
				</td>
				<td colspan="2" width="565" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">支付易机具是否完整？
					   是□   否□</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="73" height="41" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #00000a; padding: 0cm 0.19cm">
					<p class="cjk" align="center" style="orphans: 2; widows: 2"><font face="Calibri, serif"><span lang="en-US"><font color="#000000"><font face="仿宋, serif">3</font></font></span></font></p>
				</td>
				<td colspan="2" width="565" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">支付易机具是否违规使用？（商户擅自改变摆放位置或加装其他违规设备等）
					是□   否□</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="73" height="41" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #00000a; padding: 0cm 0.19cm">
					<p class="cjk" align="center" style="orphans: 2; widows: 2"><font face="Calibri, serif"><span lang="en-US"><font color="#000000"><font face="仿宋, serif">4</font></font></span></font></p>
				</td>
				<td colspan="2" width="565" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">支付易机具是否处于正常工作状态？（在机具上进行检测并保留检测单据）
					是□   否□</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="73" height="27" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #00000a; padding: 0cm 0.19cm">
					<p class="cjk" align="center" style="orphans: 2; widows: 2"><font face="Calibri, serif"><span lang="en-US"><font color="#000000"><font face="仿宋, serif">5</font></font></span></font></p>
				</td>
				<td colspan="2" width="565" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">商户实际经营业务内容是否与营业执照登记的内容一致？是□
					  否□</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="73" height="27" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #00000a; padding: 0cm 0.19cm">
					<p class="cjk" align="center" style="orphans: 2; widows: 2"><font face="Calibri, serif"><span lang="en-US"><font color="#000000"><font face="仿宋, serif">6</font></font></span></font></p>
				</td>
				<td colspan="2" width="565" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">商户所有权、负责人是否变动？
					     是□   否□</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="73" height="27" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #00000a; padding: 0cm 0.19cm">
					<p class="cjk" align="center" style="orphans: 2; widows: 2"><font face="Calibri, serif"><span lang="en-US"><font color="#000000"><font face="仿宋, serif">7</font></font></span></font></p>
				</td>
				<td colspan="2" width="565" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">商户销售方式、产品、业务活动是否变化？
					    是□   否□</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="73" height="27" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #00000a; padding: 0cm 0.19cm">
					<p class="cjk" align="center" style="orphans: 2; widows: 2"><font face="Calibri, serif"><span lang="en-US"><font color="#000000"><font face="仿宋, serif">8</font></font></span></font></p>
				</td>
				<td colspan="2" width="565" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">商户交易单据凭证的保管是否符合规定？
					   是□   否□</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="73" height="27" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #00000a; padding: 0cm 0.19cm">
					<p class="cjk" align="center" style="orphans: 2; widows: 2"><font face="Calibri, serif"><span lang="en-US"><font color="#000000"><font face="仿宋, serif">9</font></font></span></font></p>
				</td>
				<td colspan="2" width="565" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">商户经营状况是否存在经营危机或财务危机迹象？
					   是□   否□</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="73" height="27" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #00000a; padding: 0cm 0.19cm">
					<p class="cjk" align="center" style="orphans: 2; widows: 2"><font face="Calibri, serif"><span lang="en-US"><font color="#000000"><font face="仿宋, serif">10</font></font></span></font></p>
				</td>
				<td colspan="2" width="565" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: none; border-right: 1.00pt solid #000001; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0cm; padding-right: 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">商户收银员是否经过培训后上岗？
					   是□   否□</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="3" width="652" height="27" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #000001; padding: 0cm 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋"><b>巡检人签字：
					                  日期：</b></font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="3" width="652" height="27" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #000001; padding: 0cm 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋"><b>以下项目商户填写签字</b></font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="3" width="652" height="27" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #000001; padding: 0cm 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">您对巡检人员的巡检是否满意？
					             是□   否□</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="3" width="652" height="39" style="border-top: 1.00pt solid #00000a; border-bottom: none; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #000001; padding: 0cm 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">巡检人员是否进行了再培训，且培训内容完整，包括：</font></font></p>
				</td>
			</tr>
			<tr>
				<td colspan="3" width="652" height="80" style="border-top: none; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #000001; padding: 0cm 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font face="Calibri, serif"><span lang="en-US"><font color="#000000"><font face="仿宋, serif">1</font></span></font><font face="仿宋">、</font></font><font color="#000000"><font face="仿宋"><font size="1" style="font-size: 7pt">
					</font></font></font><font color="#000000"><font face="仿宋">介绍机具如何操作使用；</font><font face="Calibri, serif"><span lang="en-US"><font face="仿宋, serif">2</font></span></font><font face="仿宋">、介绍如何识别假卡、伪卡；</font><font face="Calibri, serif"><span lang="en-US"><font face="仿宋, serif">3</font></span></font><font face="仿宋">、介绍签购单保管期限要求及遗失后果；</font><font face="Calibri, serif"><span lang="en-US"><font face="仿宋, serif">4</font></span></font><font face="仿宋">、介绍机具不得转让转借的规定及违规后果；</font><font face="Calibri, serif"><span lang="en-US"><font face="仿宋, serif">5</font></span></font><font face="仿宋">、机具不得受理非本商户的交易及违规后果；</font><font face="Calibri, serif"><span lang="en-US"><font face="仿宋, serif">6</font></span></font><font face="仿宋">、介绍刷卡后必须核对签购单签名与卡片背面签名一致等？
					是□  否□</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="3" width="652" height="40" style="border-top: 1.00pt solid #00000a; border-bottom: 1.00pt solid #00000a; border-left: 1.00pt solid #00000a; border-right: 1.00pt solid #000001; padding: 0cm 0.19cm">
					<p class="cjk" style="orphans: 2; widows: 2"><font color="#000000"><font face="仿宋">商户签字：
					                             日期：</font></font></p>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<p class="cjk" align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
  
</p>
<p class="cjk" align="left" style="margin-bottom: 0cm; line-height: 100%; orphans: 2; widows: 2">
    
</p>
    </div>
</div>
